/* Footer.css */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-nav {
    display: flex;
    gap: 2rem;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  @media (max-width: 767px) {
    .footer-nav {
      margin-top: 1rem;
      gap: 1rem;
    }
  }
  